@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    font-family: "Poppins";
}

.links {
    color: #6c63ff;
    text-decoration: none;
    font-size: medium;
    margin: 10px;
}

.links:hover {
    color: #6c63ff;
}

.brand {
    color: #6c63ff;
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
}

.navBtn{
    color:white;
    background-color: #6c63ff;
    font-size: medium;
    padding: 5px;
    border-radius: 4px;
    font-weight: 500;
}
.navBtn:hover {
    background-color: #544de0;
}


/* Card Styling */
.card-style{
    width: 40vh;
}

.seo-img {
    height: 20vh;
    width:20vh;
}

.animated{
    transition: transform 0.2s ease-out;
}

.animated:hover {
    transform: translateY(-15px);
}


/* form container */
.formContainer {
    background-color: #f0effc;
}

/* footer styling */
.footer{
    background-color: #f0effc;
    border: 1px solid;
}